Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
Unidecode==0.04.19
Werkzeug==0.11.11
argparse==1.2.1
base58==0.2.4
boto3==1.4.1
botocore==1.4.80
certifi==2016.9.26
cffi==1.9.1
click==6.6
cryptography==3.2
docutils==0.12
enum34==1.1.6
futures==3.0.5
hjson==2.0.2
httplib2==0.9.2
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
jmespath==0.9.0
kappa==0.6.0
lambda-packages==0.10.0
placebo==0.8.1
pyOpenSSL==16.2.0
pyasn1==0.1.9
pycparser==2.17
python-dateutil==2.6.0
python-slugify==1.2.1
pytz==2016.7
requests==2.12.3
s3transfer==0.1.9
six==1.10.0
tqdm==4.10.0
troposphere==1.9.0
twilio==5.6.0
urllib3==1.19.1
wheel==0.29.0
wsgi-request-logger==0.4.6
wsgiref==0.1.2
zappa==0.31.0
